@model List<ItemManagement.Models.Item>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr class="table-secondary">
        <th> ID </th>
        <th> Item Name </th>
        <th> Item Tag </th>
        <th> Item Image </th>
        <th> Item collection ID </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Id </td>
            <td> @item.Name </td>
            <td> @item.Tag </td>
            <td> @item.Image </td>
            <td> @item.ItemCollectionId </td>
        </tr>
    }
</table>