@model List<ItemManagement.DomainModels.Item>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h2> Table View </h2>
<div class="container">
    <table class="table">
        <tr class="table-secondary">
            <th> ID </th>
            <th> Item Name </th>
            <th> Item Tag </th>
            <th> Item Image </th>
            <th> Action </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.Id </td>
                <td> @item.Name </td>
                <td> @item.Tag </td>
                <td> @item.Image </td>
                <td>
                    <a href="/item/edit?id=@item.Id"> Edit | </a> 
                    <a href="/item/delete?id=@item.Id"> Delete </a> 
                </td>
            </tr>
        }
    </table>
</div>


    <h2> Card View </h2>
<div class="container">
    <div class="py-5">
        <div class="container">
            <div class="row hidden-md-up">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 ">
                        <div class="card" style="width: 18rem;">
                            <div class="card-block">
                                <img src="~/Content/Images/default_item_image.jpg" class="card-img-top fit-image" alt="...">
                                <div class="card-body ">
                                    <h5 c lass="card-title">@item.Name</h5>
                                    <p class="card-text">@item.Tag</p>
                                    <a href="/item/details?id=@item.Id" class="btn btn-primary"> Show details </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
