@model ItemManagement.DomainModels.ItemCollection
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit Collection </h2>

<form action="/itemCollection/edit?id=@Model.Id" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Name"> Item Name </label>
            <input type="text" class="form-control" id="ItemName" name="Name" placeholder="Name" value="@Model.Name" />
        </div>
        <div class="form-group col-md-6">
            <label for="Description"> Description </label>
            <input type="text" class="form-control" id="Description" name="Description" placeholder="Description" value="@Model.Description" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Image"> Image will be here </label>
            <input type="text" class="form-control" id="ItemTag" name="Image" placeholder="Image" value="future_feature" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="py-5">
                <div class="container">
                    <div class="row hidden-md-up">
                        <h1> In collection </h1>
                        @foreach (var item in ViewBag.ItemsInCollection)
                        {
                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-block">
                                        <img src="~/Content/Images/default_item_image.jpg" class="card-img-top fit-image" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Name</h5>
                                            <div class="form-check card-title">
                                                <label class="form-check-label" for="@item.Id">
                                                    Added
                                                </label>
                                                <input class="form-check-input big-checkbox" name="Items" type="checkbox" value="@item.Id" id="@item.Id" checked>
                                            </div>
                                            <p class="card-text">@item.Tag</p>
                                            <a href="/item/details?id=@item.Id" class="btn btn-primary"> Show details </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="py-5">
                <div class="container">
                    <div class="row hidden-md-up">
                            <h1> Not in collection </h1>
                        @foreach (var item in ViewBag.ItemsNotInCollection)
                        {
                            <div class="col-md-4">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-block">
                                        <img src="~/Content/Images/default_item_image.jpg" class="card-img-top fit-image" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.Name</h5>
                                            <div class="form-check  d-flex justify-content-between">
                                                <label class="form-check-label" for="@item.Id"> Added </label>
                                                <input class="form-check-input big-checkbox" name="Items" type="checkbox" value="@item.Id" id="@item.Id">
                                            </div>
                                            <p class="card-text">@item.Tag</p>
                                            <a href="/item/details?id=@item.Id" class="btn btn-primary"> Show details </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success"> Update </button>
    <a class="btn btn-danger" href="/home"> Cancel</a>
</form>