<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .fit-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .big-checkbox {
            width: 20px;
            height: 20px;
        }
    </style>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"><a href="/admin/home/index"> Home </a></span>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"><a href="/admin/item/index"> Browse Items </a></span>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"><a href="/admin/item/create"> Create Item </a></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <a class="navbar-brand" href="/admin/home/index"> Admin Home </a>

                <ul class="nav navbar-nav">
                    <li> <a href="/item/create"> Create Item </a> </li>
                    <li> <a href="/item/index"> Browse Items </a> </li>
                    <li> <a href="/itemCollection/create"> Create Collection </a> </li>
                    <li> <a href="/itemCollection/index"> Browse Collections </a> </li>
                    <li> <a href="/admin/applicationUser/index"> Manage Users </a> </li>
                    <li><a href="/account/myprofile"> My Profile </a></li>
                    <li><a href="/account/logout"> Log out </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
